@model IEnumerable<DentalApp.Models.Pacient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Pacients" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarFisa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerieCi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarCi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observatii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumarFisa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerieCi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumarCi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observatii)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
